<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/0833b9eb-3c31-41b6-b69a-15d2a4c84f39/resourcegroups/ResourseGroup1/providers/Microsoft.ContainerRegistry/registries/adserving</ResourceId>
    <ResourceName>adserving</ResourceName>
    <ResourceGroup>ResourseGroup1</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>adserving.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>